@-webkit-keyframes rotation {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@-webkit-keyframes change-bg {
  from {
    background-position: left bottom;
  }
  to {
    background-position: right bottom;
  }
}
@-webkit-keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fadeout {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadeout {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.absolute-center, .sp-button--tips .sp-button-inner, .sp-button--tips[data-state][data-state~="normal"] .sp-button-inner span, .sp-button--tips[data-state][data-state~="normal"] .sp-button-inner span:before, .sp-button--tips[data-state][data-state~="normal"] .sp-button-inner:hover:before, .sp-button--tips[data-state][data-state~="normal"].showNormalState, .sp-button--tips[data-state][data-state~="normal"].hideNormalState, .sp-button--tips[data-state][data-state~="values"] .sp-button-inner, .sp-button--tips[data-state][data-state~="values"] .sp-button-inner i:before, .sp-button--tips[data-state][data-state~="values"] .sp-button-inner i:last-child:before, .sp-button--tips[data-state][data-state~="values"].showValueState, .sp-button--tips[data-state][data-state~="confirm"] .sp-button-inner, .sp-button--tips[data-state][data-state~="confirm"] .sp-button-inner span:last-of-type:before {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  background-color: #FFFFFF;
  font-family: "Open Sans", sans-serif;
}

html,
body {
  height: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body, div, span {
  margin: 0;
  padding: 0;
  border: 0;
}

.sp-button--tips {
  position: absolute;
  font-size: 0.813em;
  /*fallback */
  cursor: pointer;
  display: block;
  color: #FFFFFF;
  background-color: #2575FC;
  overflow: hidden;
  width: 100%;
  height: 100%;
  -webkit-background-clip: padding-box;
  -webkit-border-radius: 6px;
  -moz-background-clip: padding-box;
  -moz-border-radius: 6px;
  background-clip: padding-box;
  border-radius: 6px;
}
.sp-button--tips-container {
  position: relative;
  min-width: 80px;
  min-height: 40px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  -webkit-background-clip: padding-box;
  -webkit-border-radius: 6px;
  -moz-background-clip: padding-box;
  -moz-border-radius: 6px;
  background-clip: padding-box;
  border-radius: 6px;
}
.sp-button--tips .sp-button-inner {
  width: 100%;
  display: block;
}
@media (max-width: 139px) {
  .sp-button--tips {
    font-size: 0.750em;
  }
}
@media (min-width: 220px) and (min-height: 80px) {
  .sp-button--tips {
    font-size: 13px;
    /*fallback */
    font-size: 4vw;
  }
}
.sp-button--tips[data-state][data-state~="normal"] .sp-button-inner {
  text-align: center;
  height: 100%;
}
.sp-button--tips[data-state][data-state~="normal"] .sp-button-inner span {
  display: inline-block;
  width: 100%;
}
@media (min-width: 140px) {
  .sp-button--tips[data-state][data-state~="normal"] .sp-button-inner span {
    padding-left: 26px;
  }
}
.sp-button--tips[data-state][data-state~="normal"] .sp-button-inner span:before {
  content: "";
  left: 0%;
  background: url("../media/dollar-ico.svg") no-repeat center center;
  background-size: cover;
  width: 20px;
  height: 20px;
  margin-left: 26px;
}
@media (max-width: 139px) {
  .sp-button--tips[data-state][data-state~="normal"] .sp-button-inner span:before {
    display: none;
  }
}
.sp-button--tips[data-state][data-state~="normal"] .sp-button-inner:hover {
  background-color: #0E54CC;
}
.sp-button--tips[data-state][data-state~="normal"] .sp-button-inner:hover:before {
  content: "";
  border: 1px solid #FFFFFF;
  width: calc(100% - 4px);
  height: calc(100% - 4px);
  -webkit-background-clip: padding-box;
  -webkit-border-radius: 6px;
  -moz-background-clip: padding-box;
  -moz-border-radius: 6px;
  background-clip: padding-box;
  border-radius: 6px;
  filter: alpha(opacity=50);
  opacity: 0.5;
}
.sp-button--tips[data-state][data-state~="normal"].showNormalState {
  width: 100%;
  -webkit-transition: width 1s;
  transition: width 1s;
  -webkit-transition-timing-function: cubic-bezier(0.08, 0.82, 0.17, 1);
          transition-timing-function: cubic-bezier(0.08, 0.82, 0.17, 1);
}
.sp-button--tips[data-state][data-state~="normal"].hideNormalState {
  width: 0;
  -webkit-transition: width 1s;
  transition: width 1s;
  -webkit-transition-timing-function: cubic-bezier(0.08, 0.82, 0.17, 1);
          transition-timing-function: cubic-bezier(0.08, 0.82, 0.17, 1);
}
.sp-button--tips[data-state][data-state~="normal"].hideNormalState .sp-button-inner span {
  opacity: 0;
  -webkit-transition: opacity .5s;
  transition: opacity .5s;
}
.sp-button--tips[data-state][data-state~="values"] {
  width: 0%;
}
.sp-button--tips[data-state][data-state~="values"] .sp-button-inner {
  text-align: center;
  width: 100%;
  height: 100%;
  display: table;
  table-layout: fixed;
}
.sp-button--tips[data-state][data-state~="values"] .sp-button-inner span {
  display: table-cell;
  vertical-align: middle;
  width: 33.333%;
  word-wrap: break-word;
  -webkit-transition: width 1s;
  transition: width 1s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
  -webkit-transition-timing-function: cubic-bezier(0.08, 0.82, 0.17, 1);
          transition-timing-function: cubic-bezier(0.08, 0.82, 0.17, 1);
  -webkit-box-shadow: inset -1px 0px 0px 0px #0E54CC;
          box-shadow: inset -1px 0px 0px 0px #0E54CC;
}
@media (max-width: 139px) {
  .sp-button--tips[data-state][data-state~="values"] .sp-button-inner span {
    display: table-cell;
    vertical-align: middle;
    width: 50%;
  }
}
.sp-button--tips[data-state][data-state~="values"] .sp-button-inner span:hover {
  background-color: #0E54CC;
  -webkit-box-shadow: inset -5px 0px 5px -7px black, inset 5px 0px 5px -7px black;
          box-shadow: inset -5px 0px 5px -7px black, inset 5px 0px 5px -7px black;
}
.sp-button--tips[data-state][data-state~="values"] .sp-button-inner i {
  position: absolute;
  top: 0;
  width: 15%;
  height: 100%;
  display: table-cell;
  vertical-align: middle;
  background-color: #2575FC;
  z-index: 1;
}
@media (max-width: 139px) {
  .sp-button--tips[data-state][data-state~="values"] .sp-button-inner i {
    width: 20%;
  }
}
.sp-button--tips[data-state][data-state~="values"] .sp-button-inner i:before {
  content: "";
  background: url("../media/arrow_left-ico.svg") no-repeat center center;
  background-size: 20%, cover;
  width: 100%;
  height: 100%;
}
.sp-button--tips[data-state][data-state~="values"] .sp-button-inner i:first-child {
  left: 0;
  -webkit-box-shadow: inset -1px 0px 0px 0px #0E54CC;
          box-shadow: inset -1px 0px 0px 0px #0E54CC;
}
.sp-button--tips[data-state][data-state~="values"] .sp-button-inner i:last-child {
  right: 0;
  -webkit-box-shadow: inset 1px 0px 0px 0px #0E54CC;
          box-shadow: inset 1px 0px 0px 0px #0E54CC;
}
.sp-button--tips[data-state][data-state~="values"] .sp-button-inner i:last-child:before {
  background: url("../media/arrow_right-ico.svg") no-repeat center center;
  background-size: 20%, cover;
  width: 100%;
  height: 100%;
}
.sp-button--tips[data-state][data-state~="values"] .sp-button-inner i:hover {
  background-color: #0E54CC;
  -webkit-box-shadow: inset -5px 0px 5px -7px black, inset 5px 0px 5px -7px black;
          box-shadow: inset -5px 0px 5px -7px black, inset 5px 0px 5px -7px black;
}
.sp-button--tips[data-state][data-state~="values"] .sp-button-inner i.disabled {
  background-color: black;
  filter: alpha(opacity=20);
  opacity: 0.2;
}
.sp-button--tips[data-state][data-state~="values"] .sp-button-inner i.disabled:hover {
  cursor: not-allowed;
}
.sp-button--tips[data-state][data-state~="values"] .sp-button-inner.sp-button-scroll {
  display: block;
  height: 100%;
  overflow: hidden;
}
.sp-button--tips[data-state][data-state~="values"] .sp-button-inner.sp-button-scroll span {
  display: inline-block;
  width: 100%;
  height: 100%;
  vertical-align: middle;
}
.sp-button--tips[data-state][data-state~="values"] .sp-button-inner.sp-button-scroll span:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.sp-button--tips[data-state][data-state~="values"] .sp-button-inner.sp-button-scroll .sp-button-scroll-wrap {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  white-space: nowrap;
}
.sp-button--tips[data-state][data-state~="values"].showValueState {
  width: 100%;
  -webkit-transition: width .8s;
  transition: width .8s;
  -webkit-transition-timing-function: cubic-bezier(0.95, 0.05, 0.8, 0.04);
          transition-timing-function: cubic-bezier(0.95, 0.05, 0.8, 0.04);
}
.sp-button--tips[data-state][data-state~="values"].showValueState .sp-button-inner span,
.sp-button--tips[data-state][data-state~="values"].showValueState .sp-button-inner i {
  -webkit-animation: fadein 1s cubic-bezier(0.6, -0.28, 0.74, 0.05);
          animation: fadein 1s cubic-bezier(0.6, -0.28, 0.74, 0.05);
}
.sp-button--tips[data-state][data-state~="values"].hideValueState {
  width: 100%;
}
.sp-button--tips[data-state][data-state~="values"].hideValueState .sp-button-inner {
  left: -100%;
  opacity: 0;
  -webkit-transition: left .1s, opacity .1s;
  transition: left .1s, opacity .1s;
}
.sp-button--tips[data-state][data-state~="confirm"] {
  right: -100%;
}
.sp-button--tips[data-state][data-state~="confirm"] .sp-button-inner {
  display: table;
  text-align: center;
  width: 100%;
  height: 100%;
}
.sp-button--tips[data-state][data-state~="confirm"] .sp-button-inner span {
  display: table-cell;
  vertical-align: middle;
}
.sp-button--tips[data-state][data-state~="confirm"] .sp-button-inner span:first-of-type {
  width: 80%;
  -webkit-transition: width .4s;
  transition: width .4s;
}
.sp-button--tips[data-state][data-state~="confirm"] .sp-button-inner span:first-of-type:hover {
  background-color: #0E54CC;
  -webkit-box-shadow: inset -5px 0px 5px -7px black;
          box-shadow: inset -5px 0px 5px -7px black;
  width: 100%;
}
.sp-button--tips[data-state][data-state~="confirm"] .sp-button-inner span:first-of-type:hover + span:last-of-type {
  width: 0;
  opacity: 0;
}
.sp-button--tips[data-state][data-state~="confirm"] .sp-button-inner span:last-of-type {
  position: relative;
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  border: 0;
  width: 20%;
  background-color: #F34541;
  -webkit-transition: width .4s ease, opacity .3s ease;
  transition: width .4s ease, opacity .3s ease;
}
.sp-button--tips[data-state][data-state~="confirm"] .sp-button-inner span:last-of-type:before {
  content: "";
  background: url("../media/cancel-ico.svg") no-repeat center center;
  background-size: 30%, cover;
  width: 100%;
  height: 100%;
}
@media (max-width: 139px) {
  .sp-button--tips[data-state][data-state~="confirm"] .sp-button-inner span:last-of-type:before {
    background-size: 50%, cover;
  }
}
.sp-button--tips[data-state][data-state~="confirm"] .sp-button-inner span:last-of-type:hover {
  background-color: #f01611;
  -webkit-box-shadow: inset 5px 0px 5px -7px black;
          box-shadow: inset 5px 0px 5px -7px black;
}
.sp-button--tips[data-state][data-state~="confirm"].showConfirmState {
  right: 0;
  -webkit-transition: right .6s;
  transition: right .6s;
}
.sp-button--tips[data-state][data-state~="confirm"] .hideConfirmState {
  right: -100%;
  -webkit-transition: right .6s;
  transition: right .6s;
}
.sp-button--tips[data-state][data-state~="processing"] span, .sp-button--tips[data-state][data-state~="completed"] span, .sp-button--tips[data-state][data-state~="error"] span {
  display: block;
  padding-left: 8%;
  line-height: 1.2;
}
@media (max-width: 139px) {
  .sp-button--tips[data-state][data-state~="processing"] span, .sp-button--tips[data-state][data-state~="completed"] span, .sp-button--tips[data-state][data-state~="error"] span {
    padding-left: 5%;
  }
  .sp-button--tips[data-state][data-state~="processing"] span:before, .sp-button--tips[data-state][data-state~="completed"] span:before, .sp-button--tips[data-state][data-state~="error"] span:before {
    display: none;
  }
}
.sp-button--tips[data-state][data-state~="processing"] span small, .sp-button--tips[data-state][data-state~="completed"] span small, .sp-button--tips[data-state][data-state~="error"] span small {
  font-size: 75%;
  display: block;
}
.sp-button--tips[data-state][data-state~="processing"] {
  left: -100%;
}
.sp-button--tips[data-state][data-state~="processing"] span {
  -webkit-box-shadow: inset 0 0 0 0 #31302B;
          box-shadow: inset 0 0 0 0 #31302B;
  -webkit-transition: all ease 0.8s;
  transition: all ease 0.8s;
}
.sp-button--tips[data-state][data-state~="processing"] span:before {
  content: "";
  position: absolute;
  margin-top: 2%;
  width: 20px;
  height: 20px;
  right: -100%;
  background: url("../media/load-ico.svg") no-repeat center center;
  background-size: cover;
}
.sp-button--tips[data-state][data-state~="processing"].showLoadingState {
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, #2575FC), color-stop(50%, #0DBD3E));
  background: linear-gradient(to right, #2575FC 50%, #0DBD3E 50%);
  background-size: 200% 100%;
  background-position: left bottom;
  -webkit-animation: change-bg 4s linear forwards;
          animation: change-bg 4s linear forwards;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
  left: 0 !important;
  -webkit-transition: left .6s;
  transition: left .6s;
}
.sp-button--tips[data-state][data-state~="processing"].showLoadingState span:before {
  right: 5%;
  -webkit-animation: rotation 3s linear infinite;
  -moz-animation: rotation 3s linear infinite;
  -ms-animation: rotation 3s linear infinite;
  -webkit-transform: translateX(0%) translateY(-50%);
          transform: translateX(0%) translateY(-50%);
  -webkit-transition: right .6s;
  transition: right .6s;
}
.sp-button--tips[data-state][data-state~="processing"].hideLoadingState .sp-button-inner {
  left: -100%;
  -webkit-transition: left .3s;
  transition: left .3s;
}
.sp-button--tips[data-state][data-state~="completed"] {
  background-color: #0DBD3E;
  left: -100%;
}
.sp-button--tips[data-state][data-state~="completed"] span:before {
  content: "";
  position: absolute;
  top: 50%;
  width: 20px;
  height: 20px;
  right: -100%;
  background: url("../media/check-ico.svg") no-repeat center center;
  background-size: cover;
  -webkit-transform: translateX(0%) translateY(-50%);
          transform: translateX(0%) translateY(-50%);
}
.sp-button--tips[data-state][data-state~="completed"].showDoneState {
  left: 0;
  -webkit-transition: left .6s;
  transition: left .6s;
}
.sp-button--tips[data-state][data-state~="completed"].showDoneState span:before {
  right: 5%;
  -webkit-transition: right .6s;
  transition: right .6s;
}
.sp-button--tips[data-state][data-state~="error"] {
  left: -100%;
  background-color: #F34541;
}
.sp-button--tips[data-state][data-state~="error"] span:before {
  content: "";
  position: absolute;
  background: url("../media/warning-ico.svg") no-repeat center center;
  background-size: cover;
  width: 20px;
  height: 20px;
  right: 5%;
}
.sp-button--tips[data-state][data-state~="error"]:hover {
  background-color: #f01611;
}

/*# sourceMappingURL=style.css.map */